@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes darkBackgroundAnimation {
  0% {
    background-color: #18181B;  /* Dark color */
  }
  50% {
    background-color: #24242B;  /* Slightly lighter dark color */
  }
  100% {
    background-color: #18181B;  /* Dark color */
  }
}

body {
  margin: 0;
  height: 100vh;
  background-color: #18181B;
}

.card:hover {
  background-color: #41414d;
}

.content {
  width: 90%;
  max-width: 1000px;
}

@keyframes slideInFromSides {
  0% {
    transform: translateX(-100%); /* Starts from the left */
    opacity: 0;
  }
  50% {
    transform: translateX(0); /* Move to the center */
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromSides {
  animation: slideInFromSides 3s ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Starts from the right */
    opacity: 0;
  }
  50% {
    transform: translateX(0); /* Move to the center */
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* Finish at the center */
    opacity: 1;
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 3s ease-in-out; /* Slow down the animation to 2 seconds */
}



